In [1]:
import pandas as pd

In [32]:
from textblob import TextBlob

In [2]:
df = pd.read_csv('Usuarios.csv')

In [3]:
# Leer todas las hojas del archivo
xls = pd.ExcelFile('healthtech.xlsx')

# Mostrar nombres de las hojas
print(xls.sheet_names)

['1. Cuestionario', '2. Actividad', 'Data', 'DimSucursales', 'DimProducto', 'DimUsuarios']

In [3]:
df_productos = pd.read_excel('healthtech.xlsx', sheet_name ='DimProducto')

In [ ]:
df_sucursales = pd.read_excel('healthtech.xlsx', sheet_name ='DimSucursales')

In [30]:
df_usuarios = pd.read_excel('healthtech.xlsx', sheet_name ='DimUsuarios')

TypeError: read_excel() got an unexpected keyword argument 'encoding'

In [ ]:
df_data = pd.read_excel('healthtech.xlsx', sheet_name ='Data')

In [8]:
df_ordenado = df_usuarios.sort_values(by='NOMBRE_COMPLETO', ascending=True)

In [11]:
df = df_usuarios.copy()

In [16]:
df = df.iloc[34:]

In [24]:
# Convertir los nombres de columnas a minúsculas
df.columns = df.columns.str.lower()

In [25]:
# Eliminar filas duplicadas basadas en 'identificacion' y 'nombre_completo'
df = df.drop_duplicates(subset=['identificacion', 'nombre_completo'])

In [27]:
# Contar cuántos registros tienen el signo de interrogación
contar_interrogaciones = df['nombre_completo'].str.contains(r'\?').sum()

In [35]:
# Función para corregir palabras
def corregir_palabras(texto):
    if isinstance(texto, str):
        return str(TextBlob(texto).correct())
    return texto

# Aplicar la corrección a una columna específica (ejemplo: 'nombre_columna')
df['nombre_completo'] = df['nombre_completo'].apply(corregir_palabras)

KeyboardInterrupt:

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427494 entries, 34 to 427527
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   identificacion   427494 non-null  object
 1   tipoid           427455 non-null  object
 2   nombre_completo  427494 non-null  object
 3   fechanacim       427494 non-null  object
dtypes: object(4)
memory usage: 13.0+ MB

In [38]:
# Código de identificación que quieres buscar
codigo_identificacion = 426276	

# Hacer la consulta en el DataFrame
resultado = df[df['identificacion'] == codigo_identificacion]

In [39]:
resultado

Empty DataFrame
Columns: [identificacion, tipoid, nombre_completo, fechanacim]
Index: []

In [21]:
df.tail(50)

,IDENTIFICACION,TIPOID,NOMBRE_COMPLETO,FECHANACIM
427478,22400737,CC,ZURIETH PAOLA DITA AVILA,1951-08-11 00:00:00
427479,22406296,CC,ZURIETH YULIETH ROCA MENDOZA,1950-08-09 00:00:00
427480,22410161,CC,ZURIS LILIANA RODRIGUEZ FERNANDEZ,1948-04-18 00:00:00
427481,22417539,CC,ZURIS MERCEDES RADA CABELLO,1953-01-21 00:00:00
427482,22418520,CC,ZURISADAI JIMENEZ CABRERA,1950-07-12 00:00:00
427483,22422265,CC,ZURISADAI RAMIREZ CUADRADO,1954-04-14 00:00:00
427484,22422354,CC,ZURISADAI SALAZAR CASTRO,1954-04-21 00:00:00
427485,22423531,CC,ZURISADAI . ARROYO MEDINA,1953-02-26 00:00:00
427486,22425397,CC,ZURISADAY BARRIOS ANGARITA,1953-11-28 00:00:00
427487,22428543,CC,ZURISADAY GOMEZ RODRIGUEZ,1951-03-14 00:00:00
427488,22430480,CC,ZURISADAY RIVERA SALDARRIAGA,1955-03-23 00:00:00
427489,22430740,CC,ZURISADAY RUIZ SANMARTIN,1957-09-24 00:00:00
427490,22432151,CC,ZURISADY GONZALEZ ANAYA,1955-02-11 00:00:00
427491,22435214,CC,ZURITA HEREDIA SINDULFO,1955-10-05 00:00:00
427492,22436780,CC,ZURITA JIMENEZ JOEL ELIAS,1958-08-31 00:00:00
427493,22439052,CC,ZURITA PADILLA EDGARDO ALFONSO,1954-06-22 00:00:00
427494,22439659,CC,ZURITA REALES LUIS CARLOS,2020-05-08 00:00:00
427495,22442157,CC,ZURITA REALES MARIA DE LOS ANGELES,1955-05-07 00:00:00
427496,22443175,CC,ZURITA RODRIGUEZ YUSTIN DE JESUS,1967-10-12 00:00:00
427497,22455968,CC,ZURIZADAY SANJUAN MARTELO,1960-10-22 00:00:00
427498,22457312,CC,ZURLAY PAOLA MORALES VANEGAS,1963-04-18 00:00:00
427499,22457603,CC,ZURLEI PATRICIA MARIMON PAYARES,2019-07-12 00:00:00
427500,22465466,CC,ZURLEY BETANCUR RAMIREZ,2020-05-19 00:00:00
427501,22467757,CC,ZURLEY PATRICIA RODRIGUEZ PACHECO,1978-10-12 00:00:00
427502,22467782,CC,ZURLY ESTHER SIMARRA DIAZ,1977-09-26 00:00:00
427503,22472912,CC,ZURLY PATRICIA PACHECO CABALLERO,1960-11-05 00:00:00
427504,22476663,CC,ZURLY PATRICIA RODRIGUEZ PACHECO,1978-05-05 00:00:00
427505,22477782,CC,ZURY FIGUEROA THERAN,1978-09-09 00:00:00
427506,22478533,CC,ZURY FLORIAN PENALOZA,1979-03-16 00:00:00
427507,22482487,CC,ZURY RAMIREZ ARRIETA,1969-02-04 00:00:00
427508,22482801,CC,ZURY RODRIGUEZ MARIMON,1969-05-28 00:00:00
427509,22483955,CC,ZURY DAYANA HERNANDEZ PALACIO,1982-09-06 00:00:00
427510,22491895,CC,ZURY FERNANDA ORDO?EZ SERRANO,1978-08-15 00:00:00
427511,22493777,CC,ZURY MADAY MORALES PEREZ,1967-09-02 00:00:00
427512,22501106,CC,ZURY MAR PACHECO GONZALEZ,1959-04-01 00:00:00
427513,22501356,CC,ZURY MISAIDA RUIZ MERCADO,1957-08-17 00:00:00
427514,22507729,CC,ZURY SADAY IRIARTE VARGAS,1979-10-24 00:00:00
427515,22508953,CC,ZURY SADAY VEGA MERCADO,1953-09-13 00:00:00
427516,22519251,CC,ZURY SADAY VIDES CABARCAS,1977-10-12 00:00:00
427517,22522459,CC,ZURY SARAY ARIZA ESCOBAR,1962-03-17 00:00:00
427518,22529814,CC,ZURY SHADAY CARRILLO RUIZ,1966-09-19 00:00:00
427519,22530018,CC,ZURY SHADDAY MU?OZ BORRERO,1968-06-08 00:00:00
427520,22534281,CC,zury yulieth padilla orozco,1978-03-18 00:00:00
427521,22549520,CC,ZURY ZADAY MONTES JIMENEZ,1960-07-20 00:00:00
427522,22562941,CC,ZURY ZARAY PACHECO VALLE,1980-08-08 00:00:00
427523,22564667,CC,ZURYS MERCEDES MANCHEGO TORRES,1981-03-08 00:00:00
427524,22565368,CC,ZUTA QUINTERO MARTA,1981-09-15 00:00:00
427525,22580414,CC,ZUYELI CAROLINA RINCON CASTRO,1961-07-13 00:00:00
427526,22583247,CC,ZUYLI DAYANA PACHECO PEREZ,1965-07-16 00:00:00
427527,22585036,CC,ZYAN ISAAC RAMIREZ YEPEZ,1982-04-13 00:00:00

In [6]:
df_usuarios.head(30)

,IDENTIFICACION,TIPOID,NOMBRE_COMPLETO,FECHANACIM
0,8487300,CC,BLANCA FLOR CAMACHO RODRIGUEZ,1983-10-17 00:00:00
1,14256853,CC,LUISAFERNANDA MEZA SILVERA .,1956-12-09 00:00:00
2,22585050,CC,BRAYAN ALEXANDER RUIZ ZABALETA,1979-12-09 00:00:00
3,30772336,CC,CARLOS WILMER PRADO LOPEZ,1963-09-07 00:00:00
4,32757452,CC,CARMENZA JULIO TERAN .,1973-02-07 00:00:00
5,44160558,CC,DALIRYS YANETH POTES ROSADO,1984-07-13 00:00:00
6,72181409,CC,francisco javier acuña ruiz,1972-04-02 00:00:00
7,08001A0064,MS,HIJO YORGELIS . MEDINA .,2005-10-19 00:00:00
8,08001A0174,MS,JAIME ALFONSO BURGOS JIMENEZ,2015-09-01 00:00:00
9,08001D0093,AS,josue . teheran leiva,1975-11-02 00:00:00
10,08001D0636,AS,LILIANA ALEJANDRO BAQUEDO PEREZ,1988-11-05 00:00:00
11,08001D6449,AS,Magaly . castillo .,1995-11-08 00:00:00
12,08001D8924,MS,milanyela . guerrero polo,2000-11-07 00:00:00
13,08001D9056,MS,PAOLA GUTIERREZ JIMENEZ,2002-01-23 00:00:00
14,08001D9174,AS,REINALDO . FERNANDEZ CERA,1992-05-14 00:00:00
15,08758A0009,MS,samara . lazcar altama,2017-08-02 00:00:00
16,1000083299,CC,Sandra . Jiménez barros,1987-12-14 00:00:00
17,1000939281,CC,sandra . noguera valencia,1985-05-23 00:00:00
18,1001547391,CC,Yeison Antonio Rodriguez Peña,1997-05-30 00:00:00
19,1001778689,CC,yulimar isabel gonzalez gonzalez,1995-10-27 00:00:00
20,1001779898,TI,. . . .,2003-01-14 00:00:00
21,1001781019,TI,. ALVARO NAVARRO GALLARDO,2002-08-20 00:00:00
22,1001782312,TI,. MERLYS VILORIA ORTIZ,2001-05-21 00:00:00
23,1001788140,TI,. VERONICA VIDALES RAMIREZ,2001-07-17 00:00:00
24,1001788632,TI,. YUSSY DEL CARMEN CARRILLO ARIZA,2002-04-18 00:00:00
25,1001789055,TI,?KER JOSUE TARRIBA RANGEL,2002-10-02 00:00:00
26,1001789554,CC,?NGEL DAVID MAZENETH CASTILLO,2000-12-08 00:00:00
27,1001798444,CC,?NGEL DE JESUS NORIEGA CHARRIS,1992-11-07 00:00:00
28,1001798613,CC,¿LAURA ANDREA LOPEZ ARRIETA,1998-11-23 00:00:00
29,1001798782,CC,0072017811 CONSUEGRA MEDINA RAMON,1987-03-09 00:00:00

In [3]:
usuarios = df_usuarios.copy()

In [4]:
usuarios.head(30)

,IDENTIFICACION,TIPOID,NOMBRE_COMPLETO,FECHANACIM
0,8487300,CC,BLANCA FLOR CAMACHO RODRIGUEZ,1983-10-17 00:00:00
1,14256853,CC,LUISAFERNANDA MEZA SILVERA .,1956-12-09 00:00:00
2,22585050,CC,BRAYAN ALEXANDER RUIZ ZABALETA,1979-12-09 00:00:00
3,30772336,CC,CARLOS WILMER PRADO LOPEZ,1963-09-07 00:00:00
4,32757452,CC,CARMENZA JULIO TERAN .,1973-02-07 00:00:00
5,44160558,CC,DALIRYS YANETH POTES ROSADO,1984-07-13 00:00:00
6,72181409,CC,francisco javier acuña ruiz,1972-04-02 00:00:00
7,08001A0064,MS,HIJO YORGELIS . MEDINA .,2005-10-19 00:00:00
8,08001A0174,MS,JAIME ALFONSO BURGOS JIMENEZ,2015-09-01 00:00:00
9,08001D0093,AS,josue . teheran leiva,1975-11-02 00:00:00
10,08001D0636,AS,LILIANA ALEJANDRO BAQUEDO PEREZ,1988-11-05 00:00:00
11,08001D6449,AS,Magaly . castillo .,1995-11-08 00:00:00
12,08001D8924,MS,milanyela . guerrero polo,2000-11-07 00:00:00
13,08001D9056,MS,PAOLA GUTIERREZ JIMENEZ,2002-01-23 00:00:00
14,08001D9174,AS,REINALDO . FERNANDEZ CERA,1992-05-14 00:00:00
15,08758A0009,MS,samara . lazcar altama,2017-08-02 00:00:00
16,1000083299,CC,Sandra . Jiménez barros,1987-12-14 00:00:00
17,1000939281,CC,sandra . noguera valencia,1985-05-23 00:00:00
18,1001547391,CC,Yeison Antonio Rodriguez Peña,1997-05-30 00:00:00
19,1001778689,CC,yulimar isabel gonzalez gonzalez,1995-10-27 00:00:00
20,1001779898,TI,. . . .,2003-01-14 00:00:00
21,1001781019,TI,. ALVARO NAVARRO GALLARDO,2002-08-20 00:00:00
22,1001782312,TI,. MERLYS VILORIA ORTIZ,2001-05-21 00:00:00
23,1001788140,TI,. VERONICA VIDALES RAMIREZ,2001-07-17 00:00:00
24,1001788632,TI,. YUSSY DEL CARMEN CARRILLO ARIZA,2002-04-18 00:00:00
25,1001789055,TI,?KER JOSUE TARRIBA RANGEL,2002-10-02 00:00:00
26,1001789554,CC,?NGEL DAVID MAZENETH CASTILLO,2000-12-08 00:00:00
27,1001798444,CC,?NGEL DE JESUS NORIEGA CHARRIS,1992-11-07 00:00:00
28,1001798613,CC,¿LAURA ANDREA LOPEZ ARRIETA,1998-11-23 00:00:00
29,1001798782,CC,0072017811 CONSUEGRA MEDINA RAMON,1987-03-09 00:00:00

In [12]:
data = df_data.copy()

In [7]:
print(df_productos.isnull().sum())

CODAGR_2              0
DESCRIPROD_AGRP2      0
LINEAPRODUCTO         0
GRUPO_PRODUCTO        0
SUB_GRUPO_1           0
SUB_GRUPO_2           0
COBERTURA_CONTRATO    0
PERFIL_TERAPEUTICO    0
ATC                   2
BASE_PBS              0
GRUPO_RIESGO          0
dtype: int64

In [ ]:
print(df_sucursales.isnull().sum())

In [8]:
print(df_Usuarios.isnull().sum())

IDENTIFICACION      0
TIPOID             39
NOMBRE_COMPLETO     0
FECHANACIM          0
dtype: int64

In [9]:
df_Usuarios

,IDENTIFICACION,TIPOID,NOMBRE_COMPLETO,FECHANACIM
0,8487300,CC,BLANCA FLOR CAMACHO RODRIGUEZ,1983-10-17 00:00:00
1,14256853,CC,LUISAFERNANDA MEZA SILVERA .,1956-12-09 00:00:00
2,22585050,CC,BRAYAN ALEXANDER RUIZ ZABALETA,1979-12-09 00:00:00
3,30772336,CC,CARLOS WILMER PRADO LOPEZ,1963-09-07 00:00:00
4,32757452,CC,CARMENZA JULIO TERAN .,1973-02-07 00:00:00
...,...,...,...,...
427523,22564667,CC,ZURYS MERCEDES MANCHEGO TORRES,1981-03-08 00:00:00
427524,22565368,CC,ZUTA QUINTERO MARTA,1981-09-15 00:00:00
427525,22580414,CC,ZUYELI CAROLINA RINCON CASTRO,1961-07-13 00:00:00
427526,22583247,CC,ZUYLI DAYANA PACHECO PEREZ,1965-07-16 00:00:00
427527,22585036,CC,ZYAN ISAAC RAMIREZ YEPEZ,1982-04-13 00:00:00

In [11]:
num_duplicated_rows = df_Usuarios.duplicated().sum()
print(f"Número de filas duplicadas: {num_duplicated_rows}")

Número de filas duplicadas: 0

In [18]:
conteo_duplicados =df_Usuarios['IDENTIFICACION'].value_counts()
# Filtrar solo los valores que se repiten más de una vez
conteo_duplicados = conteo_duplicados[conteo_duplicados > 1]

print(f"Conteo de valores duplicados en la columna '{'Identificacion'}':")
print(conteo_duplicados)

Conteo de valores duplicados en la columna 'Identificacion':
IDENTIFICACION
32647863    3
23165643    2
33279518    2
32804173    2
32647526    2
           ..
36453848    2
72155723    2
5012166     2
5446310     2
32875848    2
Name: count, Length: 585, dtype: int64

In [23]:
df_Usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427528 entries, 0 to 427527
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   IDENTIFICACION   427528 non-null  object
 1   TIPOID           427489 non-null  object
 2   NOMBRE_COMPLETO  427528 non-null  object
 3   FECHANACIM       427528 non-null  object
dtypes: object(4)
memory usage: 13.0+ MB

In [22]:
valores_unicos = df_Usuarios['IDENTIFICACION'].nunique()
print(f"Número de valores únicos en la columna 'IDENTIFICACION': {valores_unicos}")

Número de valores únicos en la columna 'IDENTIFICACION': 426942

In [24]:
frecuencia_valores = df_Usuarios['IDENTIFICACION'].value_counts()

print("Frecuencia de cada valor en la columna 'IDENTIFICACION':")
print(frecuencia_valores)

Frecuencia de cada valor en la columna 'IDENTIFICACION':
IDENTIFICACION
32647863    3
23165643    2
33279518    2
32804173    2
32647526    2
           ..
73112472    1
73112461    1
73112113    1
73110994    1
22585036    1
Name: count, Length: 426942, dtype: int64

In [25]:
valores_repetidos = frecuencia_valores[frecuencia_valores > 1]
num_valores_repetidos = valores_repetidos.count()
print(f"Número de valores que se repiten en la columna 'IDENTIFICACION': {num_valores_repetidos}")

Número de valores que se repiten en la columna 'IDENTIFICACION': 585

In [26]:
# Filtrar el DataFrame para mostrar solo los registros con 'IDENTIFICACION' duplicados
registros_duplicados = df_Usuarios[df_Usuarios['IDENTIFICACION'].isin(valores_repetidos.index)]

In [27]:
registros_duplicados.head(50)

,IDENTIFICACION,TIPOID,NOMBRE_COMPLETO,FECHANACIM
1,14256853,CC,LUISAFERNANDA MEZA SILVERA .,1956-12-09 00:00:00
2,22585050,CC,BRAYAN ALEXANDER RUIZ ZABALETA,1979-12-09 00:00:00
3,30772336,CC,CARLOS WILMER PRADO LOPEZ,1963-09-07 00:00:00
4,32757452,CC,CARMENZA JULIO TERAN .,1973-02-07 00:00:00
5,44160558,CC,DALIRYS YANETH POTES ROSADO,1984-07-13 00:00:00
2439,26047401,CC,ADELA GIL MARTINEZ,1944-01-20 00:00:00
2574,32726058,CC,ADELAIDA SANTACRUZ PEREZ,1969-09-20 00:00:00
2659,32845228,CC,ADELCY LEON MEDRANO,1975-09-18 00:00:00
2958,72012812,CC,ADIS MARGARITA BARRIOS CASTRO,1964-01-10 00:00:00
3002,72134045,CC,ADOL LUIS CASTILLO MURILLO,1966-02-22 00:00:00
3303,8772720,CC,ADONAI DIAZ DEAVILA,1971-09-30 00:00:00
5001,33352347,CC,ADRIANA PATRICIA VENGOCHEA ALVAREZ,1982-05-26 00:00:00
8476,1045252269,RC,ALBERTO DE JESUS CANTILLO SANTANA,2020-08-06 00:00:00
28185,51927319,CC,ANDRES FELIPE POLO SALAS,1969-02-27 00:00:00
34329,45508091,CC,ANTHONY ALEXANDER GUTIERREZ GIL,1972-02-13 00:00:00
35489,45480225,CC,ANTONIO JOSE POSSO VARGAS,2019-10-25 00:00:00
42232,33168787,CC,ATILIO MANUEL CONTRERA PAEZ,1946-07-22 00:00:00
44578,33148740,CC,BASILIA YODERA HERNANDEZ,1953-11-01 00:00:00
64717,1193514490,CC,CARRILLO PEREZ SHEYLIN DAYANA,2019-09-12 00:00:00
98693,1045252269,RC,DORIS BUELVAS CACERES,2020-08-06 00:00:00
118811,1193514490,CC,EMMANUEL HAVID VIVEROS ARIAS,1991-04-06 00:00:00
118812,33168787,CC,EMMANUEL HERNAN BELLO FONTALVO,1946-07-22 00:00:00
118813,45508091,CC,EMMANUEL IAVETH CABARCAS BETTIS,1972-02-13 00:00:00
118815,33148740,CC,EMMANUEL IMANOL DIAZ TODARO,1953-12-01 00:00:00
118816,45480225,CC,EMMANUEL ISAAC DE LA HOZ BAYONA,1964-06-22 00:00:00
120131,9100194,CC,ENITH CRISTINA CHRISTOPHER RICO,1957-10-27 00:00:00
120149,91046130,CC,ENITH DELCARMEN BELE?O SEGURA,1978-07-24 00:00:00
120338,91218157,CC,ENMUEL DAVID AGUILAR FARFAN,1962-03-16 00:00:00
120407,9129352,CC,ENOILDA LARA BELLO,2021-04-14 00:00:00
120417,9130436,CC,ENORIS VARONA DE BARRAZA,1950-01-10 00:00:00
120442,9133027,CC,ENRIQUE ARENGAS ECHEVERRI,1954-01-24 00:00:00
120677,9170079,CC,ENRIQUE MANUEL MELGAREJO OROZCO,1942-06-01 00:00:00
120847,9202088,CC,ENYS MILENA HERNANDEZ BLANCO,1967-02-21 00:00:00
121046,92514570,CC,ERIANYS ISABEL CUETO MURILLO,1970-09-01 00:00:00
121107,92557228,CC,ERIC MANUEL DE LA HOZ ALTAMAR,1977-04-19 00:00:00
121281,9314997,CC,ERICK DAVID DE LA CRUZ LUGO,1964-03-22 00:00:00
121599,8799099,CC,ERIKA PARDO RIVERA,1980-10-19 00:00:00
121924,8815520,CC,ERIKA PATRICIA MEZA OROZCO,1963-06-03 00:00:00
122795,896876,CC,ESCILDA ROSSI ALTAMAR,1943-09-14 00:00:00
122849,8757254,CC,ESCOBAR ROMERO CLARA INES,1960-03-07 00:00:00
123045,8760817,CC,ESLEIDER DAVID ESPINOSA DIAZ,1962-12-16 00:00:00
123411,8768189,CC,ESNEIDER JOSE OCAMPO GARCIA,1968-03-26 00:00:00
123422,8768385,CC,ESNEIDER JUNIOR ZAPATEIRO BARRAZA,1967-06-05 00:00:00
124268,8789939,CC,ESTEFANI . VILLAREAL SALASA,1976-03-16 00:00:00
124440,8727068,CC,ESTEFANIA RUA DE LA HOZ,1957-02-12 00:00:00
124551,8729313,CC,ESTEFANNY PAOLA SANABRIA GIL,1963-03-22 00:00:00
124824,8735429,CC,ESTEICI CAROLINA RODELO ECHAVEZ,1954-11-19 00:00:00
125136,8742663,CC,ESTERSOLINA MENDOZA DEGUTIERREZ,1958-11-08 00:00:00
125152,8742986,CC,ESTEVAN DAVID SANDOVAL MARTINEZ,1964-09-01 00:00:00
125208,8744166,CC,ESTHEFANIA DEL CARMEN GONZALEZ ROBAYO,1964-02-25 00:00:00

In [28]:
# Filtrar el DataFrame para mostrar solo los registros con 'IDENTIFICACION' igual a 14256853
registros_codigo_especifico = df_Usuarios[df_Usuarios['IDENTIFICACION'] == 14256853]
registros_codigo_especifico.head()

,IDENTIFICACION,TIPOID,NOMBRE_COMPLETO,FECHANACIM
1,14256853,CC,LUISAFERNANDA MEZA SILVERA .,1956-12-09 00:00:00
235712,14256853,CC,LEYKER ALEXANDER THERAN PAREDES,2020-08-07 00:00:00

In [31]:
# Crear una columna combinada de 'IDENTIFICACION' y 'NOMBRE_COMPLETO'
df_Usuarios['COMBINACION'] = df_Usuarios['IDENTIFICACION'].astype(str) + " - " + df_Usuarios['NOMBRE_COMPLETO']

# Identificar duplicados en la columna combinada
duplicados_comb = df_Usuarios[df_Usuarios.duplicated(subset=['COMBINACION'], keep=False)]
# O si prefieres ver solo los primeros registros duplicados, usa head()

# Mostrar los registros duplicados usando print()
print("Registros duplicados basados en IDENTIFICACION y NOMBRE_COMPLETO:")
print(duplicados_comb)

Registros duplicados basados en IDENTIFICACION y NOMBRE_COMPLETO:
Empty DataFrame
Columns: [IDENTIFICACION, TIPOID, NOMBRE_COMPLETO, FECHANACIM, COMBINACION]
Index: []

In [34]:
# Identificar duplicados basados en 'IDENTIFICACION' y 'NOMBRE_COMPLETO'
duplicados_comb = df_Usuarios[df_Usuarios.duplicated(subset=['IDENTIFICACION'], keep=False)]

# Mostrar los registros duplicados
print("Registros duplicados basados en IDENTIFICACION y NOMBRE_COMPLETO:")
print(duplicados_comb)

Registros duplicados basados en IDENTIFICACION y NOMBRE_COMPLETO:
       IDENTIFICACION TIPOID                  NOMBRE_COMPLETO  \
1            14256853     CC     LUISAFERNANDA MEZA SILVERA .
2            22585050     CC   BRAYAN ALEXANDER RUIZ ZABALETA
3            30772336     CC       CARLOS WILMER PRADO  LOPEZ
4            32757452     CC           CARMENZA JULIO TERAN .
5            44160558     CC      DALIRYS YANETH POTES ROSADO
...               ...    ...                              ...
427522       22562941     CC         ZURY ZARAY PACHECO VALLE
427523       22564667     CC   ZURYS MERCEDES MANCHEGO TORRES
427524       22565368     CC             ZUTA QUINTERO MARTA
427525       22580414     CC    ZUYELI CAROLINA RINCON CASTRO
427526       22583247     CC       ZUYLI DAYANA PACHECO PEREZ

                 FECHANACIM                                 COMBINACION
1       1956-12-09 00:00:00   14256853 -   LUISAFERNANDA MEZA SILVERA .
2       1979-12-09 00:00:00  22585050 -  BRAYAN ALEXANDER RUIZ ZABALETA
3       1963-09-07 00:00:00      30772336 -  CARLOS WILMER PRADO  LOPEZ
4       1973-02-07 00:00:00          32757452 -  CARMENZA JULIO TERAN .
5       1984-07-13 00:00:00     44160558 -  DALIRYS YANETH POTES ROSADO
...                     ...                                         ...
427522  1980-08-08 00:00:00         22562941 - ZURY ZARAY PACHECO VALLE
427523  1981-03-08 00:00:00   22564667 - ZURYS MERCEDES MANCHEGO TORRES
427524  1981-09-15 00:00:00             22565368 - ZUTA QUINTERO MARTA
427525  1961-07-13 00:00:00    22580414 - ZUYELI CAROLINA RINCON CASTRO
427526  1965-07-16 00:00:00       22583247 - ZUYLI DAYANA PACHECO PEREZ

[1171 rows x 5 columns]

In [16]:
# Convertir nombres de columnas a minúsculas en df_Usuarios
usuarios.columns = usuarios.columns.str.lower()

In [14]:

# Convertir nombres de columnas a minúsculas en df_data
data.columns = data.columns.str.lower()

In [19]:
# Comparar identificacion en usuario con id_paciente en data
diferencias_usuario_no_data = usuarios[~usuarios['identificacion'].isin(data['id_paciente'])]
# Mostrar resultados
print("Valores en usuario y no en data:")
print(diferencias_usuario_no_data)

Valores en usuario y no en data:
       identificacion tipoid                  nombre_completo  \
0             8487300     CC    BLANCA FLOR CAMACHO RODRIGUEZ
1            14256853     CC     LUISAFERNANDA MEZA SILVERA .
2            22585050     CC   BRAYAN ALEXANDER RUIZ ZABALETA
3            30772336     CC       CARLOS WILMER PRADO  LOPEZ
4            32757452     CC           CARMENZA JULIO TERAN .
...               ...    ...                              ...
427522       22562941     CC         ZURY ZARAY PACHECO VALLE
427523       22564667     CC   ZURYS MERCEDES MANCHEGO TORRES
427524       22565368     CC             ZUTA QUINTERO MARTA
427525       22580414     CC    ZUYELI CAROLINA RINCON CASTRO
427527       22585036     CC         ZYAN ISAAC RAMIREZ YEPEZ

                 fechanacim
0       1983-10-17 00:00:00
1       1956-12-09 00:00:00
2       1979-12-09 00:00:00
3       1963-09-07 00:00:00
4       1973-02-07 00:00:00
...                     ...
427522  1980-08-08 00:00:00
427523  1981-03-08 00:00:00
427524  1981-09-15 00:00:00
427525  1961-07-13 00:00:00
427527  1982-04-13 00:00:00

[337875 rows x 4 columns]

In [23]:
diferencias_usuario_no_data.head(30)

,identificacion,tipoid,nombre_completo,fechanacim
0,8487300,CC,BLANCA FLOR CAMACHO RODRIGUEZ,1983-10-17 00:00:00
1,14256853,CC,LUISAFERNANDA MEZA SILVERA .,1956-12-09 00:00:00
2,22585050,CC,BRAYAN ALEXANDER RUIZ ZABALETA,1979-12-09 00:00:00
3,30772336,CC,CARLOS WILMER PRADO LOPEZ,1963-09-07 00:00:00
4,32757452,CC,CARMENZA JULIO TERAN .,1973-02-07 00:00:00
5,44160558,CC,DALIRYS YANETH POTES ROSADO,1984-07-13 00:00:00
6,72181409,CC,francisco javier acuña ruiz,1972-04-02 00:00:00
7,08001A0064,MS,HIJO YORGELIS . MEDINA .,2005-10-19 00:00:00
8,08001A0174,MS,JAIME ALFONSO BURGOS JIMENEZ,2015-09-01 00:00:00
9,08001D0093,AS,josue . teheran leiva,1975-11-02 00:00:00
10,08001D0636,AS,LILIANA ALEJANDRO BAQUEDO PEREZ,1988-11-05 00:00:00
11,08001D6449,AS,Magaly . castillo .,1995-11-08 00:00:00
12,08001D8924,MS,milanyela . guerrero polo,2000-11-07 00:00:00
13,08001D9056,MS,PAOLA GUTIERREZ JIMENEZ,2002-01-23 00:00:00
14,08001D9174,AS,REINALDO . FERNANDEZ CERA,1992-05-14 00:00:00
15,08758A0009,MS,samara . lazcar altama,2017-08-02 00:00:00
16,1000083299,CC,Sandra . Jiménez barros,1987-12-14 00:00:00
17,1000939281,CC,sandra . noguera valencia,1985-05-23 00:00:00
18,1001547391,CC,Yeison Antonio Rodriguez Peña,1997-05-30 00:00:00
19,1001778689,CC,yulimar isabel gonzalez gonzalez,1995-10-27 00:00:00
20,1001779898,TI,. . . .,2003-01-14 00:00:00
21,1001781019,TI,. ALVARO NAVARRO GALLARDO,2002-08-20 00:00:00
22,1001782312,TI,. MERLYS VILORIA ORTIZ,2001-05-21 00:00:00
23,1001788140,TI,. VERONICA VIDALES RAMIREZ,2001-07-17 00:00:00
25,1001789055,TI,?KER JOSUE TARRIBA RANGEL,2002-10-02 00:00:00
26,1001789554,CC,?NGEL DAVID MAZENETH CASTILLO,2000-12-08 00:00:00
27,1001798444,CC,?NGEL DE JESUS NORIEGA CHARRIS,1992-11-07 00:00:00
28,1001798613,CC,¿LAURA ANDREA LOPEZ ARRIETA,1998-11-23 00:00:00
29,1001798782,CC,0072017811 CONSUEGRA MEDINA RAMON,1987-03-09 00:00:00
31,1001799105,CC,AAR?N DAVID AGUILAR CANATE,1999-04-10 00:00:00

In [21]:
diferencias_usuario_no_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 337875 entries, 0 to 427527
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   identificacion   337875 non-null  object
 1   tipoid           337840 non-null  object
 2   nombre_completo  337875 non-null  object
 3   fechanacim       337875 non-null  object
dtypes: object(4)
memory usage: 12.9+ MB

In [17]:
# Comparar identificacion en usuario con id_paciente en data
diferencias_data_no_usuario = data[~data['id_paciente'].isin(usuarios['identificacion'])]
# Mostrar resultados
print("\nValores en data y no en usuario:")
print(diferencias_data_no_usuario)

Valores en data y no en usuario:
       fecha_transaccion  periodo      id_transaccion  id_sucursal  \
305           2024-04-18   202404  238844_238844_1019         1019
335           2024-04-03   202404  292254_292254_1010         1010
553           2024-05-25   202405  174106_174106_1004         1004
816           2024-04-24   202404  632859_632859_1017         1017
845           2024-04-18   202404  143238_143238_1014         1014
...                  ...      ...                 ...          ...
585055        2024-04-11   202404  160463_160463_1007         1007
585056        2024-04-11   202404  160464_160464_1007         1007
585667        2024-05-23   202405    83714_83714_1011         1011
585885        2024-03-22   202403    36370_36370_1008         1008
585886        2024-03-22   202403    36370_36370_1008         1008

       linea_dispensacion id_paciente        id_pactprdo    skuagr_2  \
305                CAPITA    33191862    33191862_202404  53968475G5
335                CAPITA     4582516     4582516_202404  27636775G5
553                CAPITA     7722633     7722633_202405  68058375G5
816                CAPITA    36452650    36452650_202404  23979375G5
845                CAPITA  1046344802  1046344802_202404  10475875G5
...                   ...         ...                ...         ...
585055             CAPITA  1047058922  1047058922_202404  68046469G5
585056             CAPITA  1047058922  1047058922_202404  53636775G5
585667             CAPITA  1143245123  1143245123_202405  25924868G5
585885             CAPITA  1140911381  1140911381_202403  19173447G5
585886             CAPITA  1140911381  1140911381_202403  95175535G5

        cantidad_dispensada  costcomp_unit  valorventa_unit_sl  \
305                    60.0       1619.200         2307.692308
335                    10.0         40.480           61.538462
553                    20.0         89.056          135.384615
816                    30.0        117.392          161.538462
845                    15.0         43.516           76.923077
...                     ...            ...                 ...
585055                  1.0       2125.200            0.000000
585056                 10.0        109.296          164.615385
585667                  1.0       4326.300         5115.384615
585885                  1.0       5363.600         7538.461538
585886                  4.0         91.080          123.076923

                                              first_spend id_factura
305     FIRST SPEND                                   ...          0
335     FIRST SPEND                                   ...          0
553     CONCURRENT                                    ...          0
816     FIRST SPEND                                   ...          0
845     FIRST SPEND                                   ...          0
...                                                   ...        ...
585055  FIRST SPEND                                   ...          0
585056  FIRST SPEND                                   ...          0
585667  FIRST SPEND                                   ...          0
585885  FIRST SPEND                                   ...          0
585886  FIRST SPEND                                   ...          0

[6499 rows x 13 columns]

In [18]:
diferencias_data_no_usuario.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6499 entries, 305 to 585886
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha_transaccion    6499 non-null   datetime64[ns]
 1   periodo              6499 non-null   int64
 2   id_transaccion       6499 non-null   object
 3   id_sucursal          6499 non-null   int64
 4   linea_dispensacion   6499 non-null   object
 5   id_paciente          6499 non-null   object
 6   id_pactprdo          6499 non-null   object
 7   skuagr_2             6475 non-null   object
 8   cantidad_dispensada  6475 non-null   float64
 9   costcomp_unit        6475 non-null   float64
 10  valorventa_unit_sl   6475 non-null   float64
 11  first_spend          6499 non-null   object
 12  id_factura           6499 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 710.8+ KB

In [24]:
diferencias_data_no_usuario.head(30)

,fecha_transaccion,periodo,id_transaccion,id_sucursal,linea_dispensacion,id_paciente,id_pactprdo,skuagr_2,cantidad_dispensada,costcomp_unit,valorventa_unit_sl,first_spend,id_factura
305,2024-04-18,202404,238844_238844_1019,1019,CAPITA,33191862,33191862_202404,53968475G5,60.0,1619.200,2307.692308,FIRST SPEND ...,0
335,2024-04-03,202404,292254_292254_1010,1010,CAPITA,4582516,4582516_202404,27636775G5,10.0,40.480,61.538462,FIRST SPEND ...,0
553,2024-05-25,202405,174106_174106_1004,1004,CAPITA,7722633,7722633_202405,68058375G5,20.0,89.056,135.384615,CONCURRENT ...,0
816,2024-04-24,202404,632859_632859_1017,1017,CAPITA,36452650,36452650_202404,23979375G5,30.0,117.392,161.538462,FIRST SPEND ...,0
845,2024-04-18,202404,143238_143238_1014,1014,CAPITA,1046344802,1046344802_202404,10475875G5,15.0,43.516,76.923077,FIRST SPEND ...,0
870,2024-05-24,202405,238690_238690_1005,1005,CAPITA,1043200627,1043200627_202405,30250650G5,1.0,1700.160,2584.615385,CONCURRENT ...,0
923,2024-05-14,202405,163760_163760_1007,1007,CAPITA,26884425,26884425_202405,35724945G5,3.0,2622.092,4164.615385,FIRST SPEND ...,0
1050,2024-04-24,202404,632859_632859_1017,1017,CAPITA,36452650,36452650_202404,26278775G5,60.0,44.528,67.692308,FIRST SPEND ...,0
1052,2024-04-24,202404,632859_632859_1017,1017,CAPITA,36452650,36452650_202404,53636775G5,30.0,109.296,164.615385,FIRST SPEND ...,0
1053,2024-04-24,202404,632859_632859_1017,1017,CAPITA,36452650,36452650_202404,62274175G5,60.0,39.468,61.538462,FIRST SPEND ...,0
1081,2024-04-24,202404,632859_632859_1017,1017,CAPITA,36452650,36452650_202404,64375875G5,30.0,100.188,152.307692,FIRST SPEND ...,0
1476,2024-05-17,202405,243924_243924_1019,1019,CAPITA,28404018,28404018_202405,30824938G5,2.0,4149.200,6307.692308,FIRST SPEND ...,0
1558,2024-04-01,202404,623532_623532_1017,1017,CAPITA,1240701799,1240701799_202404,16758359G5,1.0,2183.896,3230.769231,FIRST SPEND ...,0
1589,2024-05-17,202405,243924_243924_1019,1019,CAPITA,28404018,28404018_202405,39953475G5,25.0,46.552,70.769231,FIRST SPEND ...,0
1729,2024-05-20,202405,177995_177995_1009,1009,CAPITA,1043036158,1043036158_202405,11840169G5,1.0,3036.000,4615.384615,FIRST SPEND ...,0
1756,2024-05-17,202405,243924_243924_1019,1019,CAPITA,28404018,28404018_202405,39953475G5,5.0,46.552,70.769231,FIRST SPEND ...,0
1860,2024-05-20,202405,177995_177995_1009,1009,CAPITA,1043036158,1043036158_202405,83138347G5,1.0,3905.308,5266.153846,FIRST SPEND ...,0
2328,2024-05-21,202405,244551_244551_1019,1019,CAPITA,1093413152,1093413152_202405,26675835G5,28.0,293.480,504.615385,FIRST SPEND ...,0
2529,2024-03-21,202403,234098_234098_1019,1019,CAPITA,1043201463,1043201463_202403,11840169G5,1.0,2934.800,4461.538462,FIRST SPEND ...,0
2656,2024-05-23,202405,245096_245096_1019,1019,CAPITA,22615149,22615149_202405,72423568G5,1.0,4629.900,7038.461538,FIRST SPEND ...,0
2775,2024-05-24,202405,245323_245323_1019,1019,CAPITA,1046708971,1046708971_202405,68058375G5,90.0,89.056,135.384615,CONCURRENT ...,0
2922,2024-05-11,202405,639149_639149_1017,1017,CAPITA,22818906,22818906_202405,64384075G5,60.0,81.972,118.461538,CONCURRENT ...,0
3051,2024-05-06,202405,241751_241751_1019,1019,CAPITA,1242193447,1242193447_202405,11875875G5,20.0,80.960,123.076923,FIRST SPEND ...,0
3052,2024-05-06,202405,241751_241751_1019,1019,CAPITA,1242193447,1242193447_202405,30250650G5,1.0,1700.160,2584.615385,FIRST SPEND ...,0
3054,2024-05-06,202405,241753_241753_1019,1019,CAPITA,1240701848,1240701848_202405,105299757G6,30.0,381.524,558.461538,FIRST SPEND ...,0
3152,2024-04-11,202404,237489_237489_1019,1019,CAPITA,1143261071,1143261071_202404,13854875G5,2.0,259.072,356.923077,FIRST SPEND ...,0
3153,2024-04-11,202404,237489_237489_1019,1019,CAPITA,1143261071,1143261071_202404,16775835G5,21.0,202.400,307.692308,FIRST SPEND ...,0
3164,2024-05-06,202405,241747_241747_1019,1019,CAPITA,1242193447,1242193447_202405,105299757G6,30.0,381.524,558.461538,FIRST SPEND ...,0
3167,2024-05-06,202405,241747_241747_1019,1019,CAPITA,1242193447,1242193447_202405,13868974G5,1.0,607.200,923.076923,FIRST SPEND ...,0
3168,2024-05-06,202405,241751_241751_1019,1019,CAPITA,1242193447,1242193447_202405,10446450G5,1.0,1113.200,2010.769231,FIRST SPEND ...,0

In [57]:
usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427528 entries, 0 to 427527
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   identificacion   427528 non-null  object
 1   tipoid           427489 non-null  object
 2   nombre_completo  427528 non-null  object
 3   fechanacim       427528 non-null  object
dtypes: object(4)
memory usage: 13.0+ MB

In [56]:
usuarios['tipoid'].value_counts()

tipoid
CC    265600
RC     77400
TI     75828
PT      4387
PE      2960
MS       421
AS       377
CE       136
SC       132
PA       103
NI        64
CN        61
NU        19
cc         1
Name: count, dtype: int64

In [7]:
usuarios.head()

NameError: name 'usuarios' is not defined

In [10]:
usuarios.to_csv('Usuarios.csv', index= False)